.container.text-center
  %h3.mb-30
    買い物かごの中身
  %table
    %thead
      %tr
        %th 商品名
        %th 価格
        %th 削除
    %tbody
      - @products.each do |product|
        %tr
          %td
            = product.name
          %td.text-right
            = product.price
            円
          %td.text-center
            = link_to product_delete_in_baskets_path(product), method: :post, data: {confirm: '削除してもいいですか？'} do
              %span.basket__delete
                ✕
  .basket__total-amount.right
    合計金額 #{@total_price} 円
    
  = form_tag charge_path do
    - @products.each do |p|
      = hidden_field_tag 'product_ids[]', p.id
    = submit_tag "決済"