#container
  %h2#title 取り扱いワイン一覧
  #sidebar
    .m-1
      = search_form_for @q,url: root_path do |f|
        = f.label :name, "商品名を含む" 
        = f.search_field :name_cont 
        = f.submit
  #main
    - @products.each do |product|
      .d-inline-block.border-bottom
        %p#productimg.d-inline-block
          - if product.image.present?
            = image_tag product.image_url
          - else
            = link_to(image_tag("/no-image-min.jpg"),product)
        .product.cover-text
          %p
            = link_to product.name, product_path(product.id)
          %span.text-danger #{product.price} 円
          %br
          %span
            = product.description
#paginate
  = paginate @products